<div class="navbar-inner">
  <div class="container">
    <ul class="nav">
      <li><%= link_to "TEST", root_url, :class=> "brand" %></li>
      <li><a href="#">Random</a></li>
    </ul>
    <ul class="nav pull-right">
      <% if user_signed_in? %>
        <li><%= link_to "Sign out", destroy_user_session_url, :method => :delete %></li>
      <% end %>
      <% unless user_signed_in? %>
        <li><a href="#sign_in" data-toggle="modal" data-target="#sign_in" id="sign_in_modal">Sign In</a></li>
        <li><%= link_to "Register", new_user_registration_url %></li>
      <% end %>
    </ul>
  </div>
</div>