<div class="navbar-inner">
  <div class="container">
    <ul class="nav">
      <li><%= link_to "Previewur", root_url, :class=> "brand" %></li>
      <li><%= link_to "Random", random_images_url %></li>
    </ul>
    <ul class="nav pull-right">
      <% if user_signed_in? %>
        <li><%= link_to "Sign out", destroy_user_session_url, :method => :delete %></li>
      <% end %>
      <% unless user_signed_in? %>
        <li><a href="#sign_in" data-toggle="modal" data-target="#sign_in" id="sign_in_modal_link">Sign In</a></li>
        <li><a href="#register" data-toggle="modal" data-target="#register_modal" id="register_modal_link">Register</a></li>
      <% end %>
    </ul>
  </div>
</div>