<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      You can find your animated gif <%= link_to "here", image_url(@image) %>.<br/>
    </p>
  </body>
</html>