// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.upvoted-comment{
  text-decoration: none; 
  color: #00AF00;
}

.upvoted-comment:hover{
  text-decoration: none; 
  color: #00AF00;
}

.downvoted-comment{
  text-decoration: none; 
  color: #C80000;
}

.downvoted-comment:hover{
  text-decoration: none; 
  color: #C80000;
}

.nonvote-comment{
  text-decoration: none; 
  color: white;
}

.nonvote-comment:hover{
  text-decoration: none; 
}



