div.left-panel {

  background-color: #32373c;
  margin-right: 7px;
  padding-left: 2px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /*border-left: 5px solid #32373c;*/
  border: 5px solid #32373c;
  border-bottom: 20px solid #32373c;
}

.row-fluid .right-panel{
  padding-left: 2px;
  background-color: #32373c;
  /*margin-right: 10px;*/
  -moz-border-radius: 5px;
  border-radius: 5px;
  /*border-left: 5px solid #32373c;*/
  border: 5px solid #32373c;
  width: 21%;
  margin-bottom: 30px;
}

.yellow-border {
  border:2px solid #DAA520;
}

.grey-border {
  border:2px solid #32373c
}

.image {
  margin: 3px;
  float: left;
}
/*.content-panel {
  background-color: #272b30;
  -moz-border-radius: 5px;
  border-radius: 5px;
  left: 10px;
  top: 10px;
}*/

div.inline { float:left; }

.image-display {
  margin-top: 10px;
  text-align:center;
}

input#comment_submit {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 7px;
  width: 500px;
}

.comment-display {
  background-color: #272b30;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #32373c;
  padding-top: 2px;
  padding-left: 6px;
  margin-left: 10px;
  margin-right: 10px;
}

.time-display {
  font-size: 70%;
}

.tag-label {
  margin-right: 4px;
}

.tag-area {
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 7px;
  margin-bottom:10px;
}

.image-input {
  width: 350px;
}

.modal-body {
  margin-left:auto;
  margin-right:auto;
}

.field_with_errors { display: inline; }

a.vote:hover { 
  text-decoration: none; 
  color: #3a87ad;
}

#outer-vote-container {
  float: left;
  margin-left: 20px;
  margin-top: 23px;
  /*vertical-align: middle;*/
}

#vote-value{
  font-size:120%;
  padding-top: 13px;
  text-align: center;
  width: 24px;
}

.image-title{
  margin-left: 30px;
  padding-bottom: 10px;
  float:left;
  width: 90%;
  
}

.vote-display{
  margin: auto;   
}