div.left-panel {

  background-color: #32373c;
  margin-right: 10px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /*border-left: 5px solid #32373c;*/
  border: 5px solid #32373c;
}

.image {
  margin: 3px;
  float: left;
}
/*.content-panel {
  background-color: #272b30;
  -moz-border-radius: 5px;
  border-radius: 5px;
  left: 10px;
  top: 10px;
}*/

.image-display {
  margin-top: 10px;
  text-align:center
}

input#comment_submit {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 7px;
  width: 570px;
}

.comment-display {
  background-color: #272b30;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #32373c;
  padding-left: 6px;
  margin-left: 10px;
  margin-right: 10px;
}

.time-display {
  font-size: 75%;
}