<% @images.each do |image| %>
  <% if image.preview_file_name %>
    <div class="image" >
      <%= link_to image_tag(image.preview.url, :size => "162x162"), image_url(image) %>
      <div class="thumbnail-title-info hidden">
        <%= image.title %>
      </div>
    </div>
  <% end %> 
<% end %>

<script>
  $(function(){

    var endlessScroll;

    endlessScroll = function(){
      if ($('.pagination').length) {
        console.log('asd')
        $(window).off("scroll", endlessScroll);
        pag_url = $('.pagination .next_page').attr('href');
        if (pag_url && $(window).scrollTop() > $(document).height() - $(window).height() - 50){
          $.ajax({
            url: pag_url,
            data: {pagination: true},
            type: 'get',
            dataType: 'script'
          }).done(function(){
            $(window).on('scroll', endlessScroll);
          });
        } else {
          $(window).on('scroll', endlessScroll);
        }
      }
    }
    $(window).on("scroll", endlessScroll);
  });

  $(function(){
    $(".image").hover(function(){
      $(this).children("div").removeClass("hidden");
    });

    $(".image").mouseout(function(){
      $(this).children("div").addClass("hidden");
    })
  })
</script>