<div id="outer-vote-container">
  <a class='vote' id="upvote">
    <i class="icon-caret-up icon-3x"></i>
  </a>
  <div id="vote-value">
    <%= @image.votes %>
  </div>
  <a class='vote' id="downvote">
    <i class="icon-caret-down icon-3x"></i>
  </a>
</div>


<script>
$(".vote").on("click", function() {
  $.post("/votings", { vote_type: $(this).attr("id"), image_id: $("#comment_image_id").val() })
})
</script>