<div class="row-fluid">
  <div class="span9 left-panel">
    <div class="image-search">
      The <span class="search-filter" data-type="votes">Highest Scoring</span> GIFs of 
      <span class="search-time" data-type="1000">All Time</span>
    </div>
    <div class="search-options hidden">
      <div class="search-option" id="votes" data-type="votes">Highest Scoring</div>
      <div class="search-option" id="comment_count" data-type="comment_count">Most Commented</div>
      <div class="search-option" id="created_at" data-type="created_at">Most Recent</div>
    </div>

    <div class="time-search-options hidden">
      <div class="time-search-option" data-type="1000">All Time</div>
      <div class="time-search-option" data-type="7">This Week</div>
      <div class="time-search-option" data-type="1">Today</div>
    </div>

    <div class="image-grid">
      <%= render :partial => "image_grid" %>
    </div>
  </div>

  <div class="span2">
    <input type="text">
    <a href="#create_image" role="button" class="btn" data-toggle="modal" data-target="#create_image" id="launchmodal">Create New GIF</a>

    <div id="create_image" class="modal hide" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Create New GIF</h3>
      </div>
      <%= render :partial => "images/form" %>
    </div>
  </div>

</div>

<script>
  $(function(){
    $(".search-filter").on("click", function(event){
      event.stopPropagation();
      $('.time-search-options').addClass("hidden");
      $(".search-options").toggleClass("hidden");
    });

    $("body").on("click", function(){
      $('.time-search-options').addClass("hidden");
      $('.search-options').addClass("hidden");
    });

    $(".search-time").on("click", function(event){
      event.stopPropagation();
      $('.search-options').addClass("hidden");
      $(".time-search-options").toggleClass("hidden");
    });

    $(".search-option").on("click", function(event){
      $(".search-filter").attr("data-type", $(this).attr("data-type"));
      event.stopPropagation();
      var that = this;
      var dataQuery = {search: {cat: $(".search-filter").attr("data-type"), time: $(".search-time").attr("data-type")}};
      var url = "#" + dataQuery.search.cat + dataQuery.search.time
      history.pushState(dataQuery, "", url)
      $.ajax({
        url: "/images.js",
        data: dataQuery,
        success: function(){
          update_search_title(dataQuery);
        }
      });
    })

    $(window).bind('popstate', function(event) {
      var dataQuery = event.originalEvent.state;
      var url = "#" + dataQuery.search.cat + dataQuery.search.time
      history.pushState(dataQuery, "", url)
      if (dataQuery){
        $.ajax({
          url: "/images.js",
          data: dataQuery, 
          success: function(){
            update_search_title(dataQuery);
          }
        })
      }
    })

    var update_search_title = function(dataQuery){
      var cat_text = $("div").find("[data-type='" + dataQuery.search.cat + "']").filter("div").text();
      var time_text = $("div").find("[data-type='" + dataQuery.search.time + "']").filter("div").text();
      $(".search-time").html("");
      $(".search-time").html(time_text);
      $(".search-filter").html("");
      $(".search-filter").html(cat_text);
      $(".time-search-options").addClass("hidden");
      $(".search-options").addClass("hidden");
      $(".search-time").attr("data-type", dataQuery.search.time)
      $(".search-filter").attr("data-type", dataQuery.search.cat)
    };

    $(".time-search-option").on("click", function(event){
      $(".search-time").attr("data-type", $(this).attr("data-type"));
      event.stopPropagation();
      var that = this;
      var dataQuery = {search: {cat: $(".search-filter").attr("data-type"), time: $(".search-time").attr("data-type")}};
      var url = "#" + dataQuery.search.cat + dataQuery.search.time
      history.pushState(dataQuery, "", url)
      $.ajax({
        url: "/images.js",
        data: dataQuery, 
        success: function(){
          update_search_title(dataQuery)
        }
      });
    });
  });
</script>