<div class="row-fluid">
  <div class="span9 left-panel">
    <div class="image-search">
      The <span class="search-filter" data-type="votes">Highest Scoring</span> GIFs of 
      <span class="search-time" data-type="1000">All Time</span>
    </div>
    <div class="search-options hidden">
      <div class="search-option" id="votes" data-type="votes">Highest Scoring</div>
      <div class="search-option" id="comment_count" data-type="comment_count">Most Commented</div>
      <div class="search-option" id="created_at" data-type="created_at">Most Recent</div>
    </div>

    <div class="time-search-options hidden">
      <div class="time-search-option" data-type="1000">All Time</div>
      <div class="time-search-option" data-type="7">This Week</div>
      <div class="time-search-option" data-type="1">Today</div>
    </div>

    <div class="image-grid">
      <%= render :partial => "image_grid" %>
    </div>
  </div>

  <div class="span2">
    <!-- <input type="text" class="test"> -->
    
    <a href="#create_image" role="button" class="btn" data-toggle="modal" data-target="#create_image" id="launchmodal">Create New GIF</a>

    <div id="create_image" class="modal hide" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Create New GIF</h3>
        <h5>Note: You must be logged in to create GIF</h5>
      </div>
      <%= render :partial => "images/form" %>
    </div>
  </div>
  <!-- <div class="span2 right-panel home-comments">
    <div class="comment-title-box">
      Latest Comments
    </div>
    <% @latest_comments.each do |comment| %>
      <div class="latest-comment">
        <%= link_to comment.body, image_path(comment.image) %>
      </div>
    <% end %>
  </div> -->

  <div class="pagination span9">
    <%= will_paginate @images %>
  </div>
</div>
