<div class="row-fluid">
  <div class="span9 left-panel">
    <div class="image-display">
      <%= image_tag @image.anim_gif.url %>
    </div>
    <%= render :partial => "tags" %>
    <%= render :partial => "comments/form" %>
  </div>
</div>
